.search-form-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #f7f7f7;
  margin-top: 70px;
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  height: 85px;
  position: relative;
}

.input-section {
  padding: 0 25px;
  min-width: 220px;
}

.border-left {
  border-left: 1px solid #e0e0e0;
}

.input-box-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-fields {
  display: flex;
  flex-direction: column;
}

.text-fields label {
  font-size: 12px;
  color: #7e7e7e;
  margin-bottom: 2px;
}

.text-fields input {
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  outline: none;
  width: 150px;
}

/* Swap Button Styling */
.swap-button-container {
  position: relative;
  width: 0;
  z-index: 10;
}

.swap-btn {
  position: absolute;
  left: -20px;
  top: -20px;
  background: #4a4a4a;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Date Specifics */
.date-section {
  min-width: 350px;
  display: flex;
}

.day-label {
  font-size: 14px;
  color: #7e7e7e;
  margin-left: 5px;
}

.quick-dates {
  display: flex;
  gap: 8px;
  margin-left: 20px;
}

.q-date {
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  background: #f0f0f0;
}

.q-date.active {
  background: #ffdbdb;
  color: #1c1c1c;
}

/* Search Submit Button */
.search-submit-btn {
  background-color: #d84e55;
  color: white;
  border: none;
  height: 100%;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 700;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.search-result-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="date"] {
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0);
  opacity: 1;

}

input[type="text"] {
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}