.seat-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 25px;
}

.total-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: #4a4a4a;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
  gap: 5px;
}